# Node.js / React / TypeScript Projects

# Dependencies
node_modules/
.pnp/
.pnp.js

# Build artifacts
dist/
build/
coverage/
.cache/
*.tsbuildinfo
out/
.next/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/
.cypress/

# Test reports
mochawesome-report/
allure-results/
junit/

# Terraform

**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfvars
*.tfvars.json
*.tfplan
*.plan
plan.out
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
debug.log
infracost-usage.yml

# Docker
*.tar
*.img
docker-compose.override.yml

# Editor / IDE / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
